<h1>About</h1>

<div class="about-container">
  <h2>John Schoeman</h2>
  <br/>
  <p>
    I am a software developer knowledgeable in web development. I delight in finding elegant solutions to challenging problems and thrive in highly collaborative environments. My constantly expanding skillset includes Ruby on Rails, ReactJS, React Native, GraphQL, HTML/CSS, RDBMS and related technologies.
  </p>
  <br/>
  <p>
    When I'm not coding I enjoy boardgames, lindy hop, and cooking saag paneer (with homemade paneer!).
  </p>
</div>

<div id="email-container">
  <h2>Get In Touch</h2>
  <form name="email-form" action="/contact" method="post">
    <div id="email-sender-info">
      <input class="email-input" type="text" name="name" placeholder="Your Name" value="<%= h @name %>" required>
      <input class="email-input" type="email" name="email" placeholder="Your Email" value="<%= h @email %>" required>
    </div>
    <textarea id="styled" name="message" placeholder="Your Message" required><%= h @message %></textarea>
    <input class="hidden" name="honeypot">
    <div class="g-recaptcha" data-sitekey="6LfkNkgUAAAAAIYwgXN9yzb8pdDXxz158aKs0WC5"></div>
    <input class="button" type="submit" value="Send">
  </form>
</div>