<h1>About</h1>
<br/>
<p>
  My name is John Schoeman.  I am a software developer.
</p>
<br/>
<p>
  lorem ipsum
</p>
<br/>
<p>
  lorem ipsum
</p>
<h3>Skills and Technologies</h3>
<p>
  Ruby, Rails, JavaScript ES6, Node, GraphQL, CSS3,
</p>