<h1>About</h1>

<div class="about-container">
  <h2>John Schoeman</h2>
  <br/>
  <p>
    I am a software developer knowledgeable in web development. I delight in finding elegant solutions to challenging problems and thrive in highly collaborative environments. My constantly expanding skillset includes Ruby on Rails, ReactJS, React Native, GraphQL, HTML/CSS, RDBMS and related technologies.
  </p>
  <br/>
  <p>
    When I'm not coding I enjoy boardgames, lindy hop, and cooking saag paneer (with homemade paneer!).
  </p>
</div>

<br/>
<br/>
<br/>