<footer>
  <div class="footer-container">
    <div class="contact-list">
      <p>John Schoeman</p>
      <p>-</p>
    </div>
    <div class="social-media-list">
      <a class="social-link" href="https://www.linkedin.com/in/john-schoeman-36894658/">linkedin</a>
      <a class="social-link" href="https://github.com/johnschoeman">github</a>
    </div>
  </div>
</footer>