<header>
  <div class="header-container">
    <nav class="site-nav">
      <div class="site-nav-list">
        <a class="page-link" href="/projects">Projects</a>
        <a class="page-link" href="/about">About</a>
        <a class="page-link" href="/resume">Resume</a>
      </div>
    </nav>
    <div id="dropdown" class="hidden">
      <span id="menubtn" onclick="navToggle()">
          <span class="line1"></span>
          <span class="line2"></span>
          <span class="line3"></span>
      </span>

      <ul id="menulist" class="menulist">
        <li><a class="menuitems" href="/projects">Projects</a></li>		
        <li><a class="menuitems" href="/about">About</a></li>				
        <li><a class="menuitems" href="/resume">Resume</a></li>
      </ul>			
    </div>

    <div class="logo-container">
      <a class="logo" href="/">JS</a>
    </div>
  </div>
</header>
