<h1>Projects</h1>
<ul>
  <% @projects.each do |project|%>
  <li class="project-item">
    <span class="project-date"><%= project.date %></span>
    <br/>
    <a class="project-link" href="<%= project.link_url %>"><%= project.title %></a>
    <p><%= project.description %></p>
  </li>
  <% end %>
</ul>