<div class="resume-title">
  <h1>Resume</h1>
  <a href="./john_schoeman_resume.pdf" id="download-resume" class="button" target="_blank">Download PDF</a>
</div>

<div class="resume">

<div class="section">
  <div class="section-header">
    <h2>Experience</h2>
  </div>
  <div class="section-content">
    <ul class="experience-list">
      <li>
        <div class="experience-title">
          <h3>Frontend Engineer - Independent Contractor</h3>
          <p>Jan 2018 - present</p>
        </div>
        <p>Spark Start LLC</p> 
        <ul class="resume-list">
          <li>
            Developed UI/UX features for both iOS and Android mobile applications using React Native, successfully bringing the client’s application to MVP stage.  
          </li>
          <li>
            Implemented a network interface using Apollo Client to manage endpoint requests and eliminate under and over-fetching of user data from the mobile client as well as providing performance optimization by use of network caching.
          </li>
          <li>
            Operated independently to manage project deliverables and timeline, successfully hitting project milestones.  
          </li>
        </ul>
      </li>
      <li>
        <div class="experience-title">
          <h3>Structural Engineer</h3>
          <p>Sept 2014 - July 2017</p>
        </div>
        <p>DeSimone Consulting Engineering - a 200 person structural engineering firm</p> 
        <ul class="resume-list">
          <li>
            Created software programs used by other engineers to automate the design of long-span structural members and high-strength ductile connections compliant with the the California Building Code structural design specifications.
          </li>
          <li>
            Updated and optimized engineering legacy software used by a 200 person structural engineeringfirm to produce and analyze wind design loads for high rise construction.
          </li>
          <li>
            Responsible for structural design solutions and analysis used to produce construction documents for building structural systems for the hospitality and commercial construction markets.
          </li>
        </ul>
      </li>
      <li>
        <div class="experience-title">
          <h3>Project Engineer</h3>
          <p>Jan 2014 - Sept 2014</p>
        </div>
        <p>Lionakis - a 200 personal architectural firm with structural design services</p>
        <ul class="resume-list">
          <li>
            Responsible for structural design solutions and analysis used to produce construction documents for building structural systems for the hospitality and commercial construction markets.
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="section">
  <div class="section-header">
    <h2>Projects</h2>
  </div>
  <div class="section-content">
    <ul class="project-list">
      <li>
        <div class="project-title">
          <h3><a href="https://productjadt.herokuapp.com" target="_blank">Product​ ​Hunt​ ​App</a></h3>
          <h4><a href="https://productjadt.herokuapp.com" target="_blank">Live Site</a> | <a href="https://github.com/johnschoeman/product_hunt_app" target="_blank">Github</a></h4>
        </div>
        <p>A single page application built on Rails using React.js and Redux</p>
        <ul class="resume-list">
          <li>
            Implemented state denormalization in the Rails ORM to cache aggregate relational data, eliminating N + 1 queries and increasing asynchronous http request response cycle speed by 50%.
          </li>
          <li>
            Utilized the Flux design architecture to manage a normalized application state allowing for seamless end user experience.
          </li>
          <li>
            Developed polymorphic and self-referential relational database tables to efficiently persist application data, leading to a modular and extensible code base.
          </li>
        </ul>
      </li>
      <li>
        <div class="project-title">
          <h3><a href="https://github.com/johnschoeman/spotme" target="_blank">Spot​ ​Me</a></h3>
          <h4><a href="https://github.com/johnschoeman/spotme" target="_blank">Github</a></h4>
        </div>
        <p>A native mobile application built with React Native, Apollo Client, GraphQL, and Rails</p>
        <ul class="resume-list">
          <li>
            Created and managed an abstracted data layer for the application backend by creating a GraphQL server built with ruby.
          </li>
          <li>
            Implemented a network interface using Apollo Client to manage endpoint requests and eliminate under and over-fetching of user data from the mobile client as well as providing performance optimization by use of network caching.
          </li>
          <li>
            Acted as project manager of a 4 person team by organizing engineering strategy and efforts, which led to a successful project meeting all required project deadlines.
          </li>
        </ul>
      </li>
      <li>
        <div class="project-title">
          <h3><a href="https://johnschoeman.github.io/mirror-prime-tree/" target="_blank">Mirror​ ​Prime​ ​Tree​ ​Visualizer</a></h3>
          <h4><a href="https://johnschoeman.github.io/mirror-prime-tree/" target="_blank">Live Site</a> | <a href="https://github.com/johnschoeman/mirror-prime-tree" target="_blank">Github</a></h4>
        </div>
        <p>A number theory based data visualizer built with JavaScript<p>
        <ul class="resume-list">
          <li>
            Devised and implemented an original algorithm which generates tree data structures to visualize relationships between prime numbers.
          </li>
          <li>
            Achieved fast rendering of data by utilizing memoization, functional programming, weak mapping and recursion to reduce computational intensity and improve time complexity.
          </li>
          <li>
            Took advantage of the Event Loop to optimize concurrent animations together into a single reflow and repaint cycle, leading to higher fidelity animation.
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="section">
  <div class="section-header">
    <h2>Education</h2>
  </div>
  <div class="section-content">
    <ul class="education-list">
      <li>
        <div class="education-title">
          <h3>App​ ​Academy​ - San Francisco</h3>
          <p>Spring​ ​2017</p>
        </div>
        <ul class="resume-list">
          <li>Immersive software development course with focus on full stack web development</li>
          <li>Rigorous program that accepts < 3% of all applicants</li>
          <li>Over 1000 hours of project based programming training</li>
        </ul>
      </li>
      <li>
        <div class="education-title">
          <h3>California​ ​Polytechnic​ ​University​ ​@​ ​San​ ​Luis​ ​Obispo​</h3>
          <p>Spring​ ​2013</p>
        </div>
        <ul class="resume-list">
          <li>BS - Architectural Engineering, Minor - Mathematics, cum laude</li>
          <li>Top Ranked Architectural Engineering Program</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="section">
  <div class="section-header">
    <h2>Skills</h2>
  </div>
  <div class="section-content">
    <ul class="skills-list">
      <li>Ruby</li>
      <li>RSpec</li>
      <li>TDD</li>
      <li>Ruby​ ​on​ ​Rails</li>
      <li>JavaScrip</li>
      <li>React.js</li>
      <li>React​ Native</li>
      <li>Redux</li>
      <li>Node</li>
      <li>SQL</li>
      <li>PostgreSQL</li>
      <li>GraphQL</li>
      <li>Apollo​ Client</li>
      <li>Git</li>
      <li>Heroku</li>
      <li>HTML5</li>
      <li>CSS3</li>
    </ul>
  </div>
</div>
</div>
</div>