<div class="resume-title">
<h1>Resume</h1>
<a href="./john_schoeman_resume.pdf" id="download-resume" class="button">Download PDF</a>
</div>

<div class="resume">
<div class="col-1">
  <h3>Skills</h3>
  <ul>
    <li>Ruby</li>
    <li>RSpec</li>
    <li>TDD</li>
    <li>Ruby​ ​on​ ​Rails</li>
    <li>JavaScrip</li>
    <li>React.js</li>
    <li>React​ Native</li>
    <li>Redux</li>
    <li>Node</li>
    <li>GraphQL</li>
    <li>Apollo​ Client</li>
    <li>Git</li>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>SQL</li>
    <li>PostgreSQL</li>
  </ul>
</div>
<div class="col-2">
  <h3>Projects</h3>
<ul>
  <li>
    <h4>Product​ ​Hunt​ ​App</h4>
    <p>A single page application built on Rails using React.js and Redux<p>
    <p>Live Site: productjadt.herokuapp.com | Github: github.com/johnschoeman/product_hunt_app</p>
    <ul>
      <li>
        Implemented state denormalization in the Rails ORM to cache aggregate relational data, eliminating N + 1 queries and increasing asynchronous http request response cycle speed by 50%.
      </li>
      <li>
        Utilized the Flux design architecture to manage a normalized application state allowing for seamless end user experience.
      </li>
      <li>
        Developed polymorphic and self-referential relational database tables to efficiently persist application data, leading to a modular and extensible code base.
      </li>
    </ul>
  </li>
  <li>
    <h4>Spot​ ​Me</h4>
    <p>A native mobile application built with React Native, Apollo Client, GraphQL, and Rails</p>
    <p>Live Site: https://aldahir15.github.io/SpotMeApp/ | Github: github.com/johnschoeman/spotme</p>
    <ul>
      <li>
        Created and managed an abstracted data layer for the application backend by creating a GraphQL server built with ruby.
      </li>
      <li>
        Implemented a network interface using Apollo Client to manage endpoint requests and eliminate under and over-fetching of user data from the mobile client as well as providing performance optimization by use of network caching.
      </li>
      <li>
        Acted as project manager of a 4 person team by organizing engineering strategy and efforts, which led to a successful project meeting all required project deadlines.
      </li>
    </ul>
  </li>
  <li>
    <h4>Mirror​ ​Prime​ ​Tree​ ​Visualizer</h4>
    <p>A number theory based data visualizer built with JavaScript<p>
    <p>Live Site: johnschoeman.github.io/mirror-prime-tree/ | Github: github.com/johnschoeman/mirror-prime-tree</p>
    <ul>
      <li>
        Devised and implemented an original algorithm which generates tree data structures to visualize relationships between prime numbers. Achieved fast rendering of data by utilizing memoization, functional programming, weak mapping
      </li>
      <li>
        and recursion to reduce computational intensity and improve time complexity.
      </li>
      <li>
        Took advantage of the Event Loop to optimize concurrent animations together into a single reflow and repaint cycle, leading to higher fidelity animation.
      </li>
    </ul>
  </li>
</ul>
<h3>Experience</h3>
Structural​ ​Engineer
DeSimone Consulting Engineering (a 200 person structural engineering firm) Sept 2014 - July 2017
Lionakis (a 200 personal architectural firm with structural design services) Jan 2014 - Sept 2014
● Created software programs used by other engineers to automate the design of long-span structural
members and high-strength ductile connections compliant with the the California Building Code
structural design specifications.
● Updated and optimized engineering legacy software used by a 200 person structural engineering
firm to produce and analyze wind design loads for high rise construction.
● Responsible for structural design solutions and analysis used to produce construction documents for
building structural systems for the hospitality and commercial construction markets.
<h3>Education</h3>
App​ ​Academy​ ​ ​ ​(Spring​ ​2017)
Immersive software development course with focus on full stack web development
● Rigorous program that accepts < 3% of all applicants
California​ ​Polytechnic​ ​University​ ​@​ ​San​ ​Luis​ ​Obispo​ ​ ​ ​(Spring​ ​2013)
BS - Architectural Engineering, Minor - Mathematics, cum laude
● Top Ranked Architectural Engineering Program
</div>
</div>