@import 'variables';

.resume {
  margin-top: 24px;
  
  p {
    margin-bottom: 16px;
  }

  ul.resume-list {
    list-style: outside;
  
    li {
      line-height: 16px;
      text-align: justify;
      margin: 4px 0 8px 24px;
    }
  }

 .section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 36px;

    .section-header {
      width: 15%;

      h2 {
        margin-top: 36px;
        border-bottom: 1px solid $secondary;
        width: 100%;
        text-align: right;
        float: right;
      }
    }

    .section-content {
      width: 80%
    }
  }

  .skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      font-size: 14px;
      height: 24px;
      width: 20%;
      min-width: 50px;
      margin: 12px 8px;
    }
  }

  .project-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .education-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .experience-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

.resume-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#download-resume {
  float: right;
}

@media all and (max-width: 600px) {
  .resume {
    .section {
      flex-direction: column;
    }
  }
}
