$sans-serif: "Open Sans", sans-serif;

$primary: #3D5A80;
$secondary: #98C1D9;
$background: #fdfdfd;
$primary-text: #313131;
$secondary-text: #828282;
$link: #2a7ae2;
$link-visited: #1756a9;
$link-hover: #3D5A80;