$sans-serif: "Open Sans", sans-serif;

$primary: #3D5A80;
$secondary: #98C1D9;
$background: #fdfdfd;
$primary-text: #22222d;
$secondary-text: #4f4f5d;
$nav-link: #22222d;
$link: #2a7ae2;
$link-visited: #1756a9;
$link-hover: #3D5A80;

$max-width: 600px;